.visually-hidden {
	position: absolute !important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
}

.skip-to-content-link {
	
	&:focus {
		z-index: 9999;
		position: inherit;
		overflow: auto;
		width: auto;
		height: auto;
		clip: auto;
	}
}

/* Dangerous for a11y - Use with care */
.focus-none {
	box-shadow: none !important;
	outline: 0 !important;
}